<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ngage</title>
    <link rel="stylesheet" type="text/css" href="/dist/main.css">
    <link rel="icon" href="http://i63.tinypic.com/15czuvc.png" type="image/x-icon" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
