/*Create PPT*/
body {
  background-color: #ffffff;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  flex-basis: 70vmin;
  margin-top: 10vmin;
  margin-bottom: -10vmin;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 70vmin;
  margin: 10vmin;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
  line-height: 1.4rem;
}
.header {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #288a2b;
}
.pptcontainer {
  margin: 15vmin 20vmin;
}
.container {
  margin: 20vmin;
}
.indent {
  padding-left: 10px;
  margin-left: 10px;
}
.ppt {
  display: flex;
  flex-basis: 150px;
  height: 13vmin;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
/*  flex-flow: row wrap;*/
  justify-content: center;
  align-items: center;
  overflow: auto
}
.ppt:hover {
  background-color: #43a047;
}
.ppt:focus {
  border: 2px solid black;
}
.option {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}
@media screen and (max-width: 700px) {
  .option {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    flex-flow: none;
    justify-content: center;
    align-items: center;
  }
  .option2 {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    flex-flow: none;
    text-decoration: none;
  }
}
.option2 {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.presentation {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.input { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  width: 65vw;
  padding: 4px 8px;
  margin-top: 40px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
}
.qinput { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  padding: 4px 8px;
  margin-top: 23px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
  width: 65vw;
}
@media screen and (max-width: 700px) {
  .input {
    width: 30vmin;
  }
}
@media screen and (max-width: 700px) {
  .qInput {
    width: 30vmin;
  }
}
.button {
    display: flex;
    background-color: #288a2b;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 23px 23px 23px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
}
.button:hover {
    background-color: #43a047;
}
.buttonMenu {
  display: flex;
}
.submitFlex{
  display: flex;
  width: 75vw;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.addQuestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 82.5vw;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.question {
  display: flex;
  width: 78vw;
  justify-content: center;
  background-color: #c7e3c8;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 2px 9px 30px 9px;
  border-radius: 5px;
  flex-flow: row wrap;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
    -webkit-transition: 200ms;
  transition: 200ms;
}
.presentationText {
  display: flex;
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.pptbutton {
    display: flex;
    background-color: #288a2b;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 15px 0px 15px 352px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
}
.pptbutton:hover {
    background-color: #43a047;
}
.answer {
  display: flex;
  width: 78vw;
  justify-content: center;
  background-color: #c7e3c8;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px 0 10px;
  text-decoration: none;
  margin: 2px 9px 2px 9px;
  border-radius: 5px;
  flex-flow: row wrap;
}
.viewQuestion {
  display: flex;
  height: 10vh;
  width: 75vw;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 2vmin 5vmin 2vmin 6vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.viewAnswer {
  display: flex;
  height: 10vh;
  width: 66vw;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 2vmin 15vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.viewAnswers {
  display: flex;
  height: 10vh;
  width: 74.7vw;
  background-color: #ffffff;
  margin: -3vmin 5vmin 2vmin 6vmin;
  border-radius: 5px;
  border: 2px solid #288a2b;
  text-decoration: none;
  justify-content: center;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
  overflow: auto;
}
.answerText {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.title {
  display: flex;
  margin: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  margin-top: -10px;
}
.actions {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  margin: 1rem 1rem 1rem 1.5rem;
}
.questionText {
  display: flex;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.submitFlexPpt{
  display: flex;
  width: 75vw;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  margin-left: 95px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*View PPT*/
.viewContainer {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  flex-flow: row wrap;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.emptyPpt {
  display: flex;
  /*flex-basis: 250px;*/
  height: 10vh;
  width: 75vw;
  margin: 3vmin 10vmin 3vmin 10vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.emptyPptText {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.emptyPptText:hover{
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #288a2b;
}
.viewPpt {
  display: flex;
  /*flex-basis: 250px;*/
  height: 10vh;
  width: 75vw;
  background-color: #2f4961;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 3vmin 10vmin 3vmin 10vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.viewPpt:hover {
  background-color: #3E607F;
}
.title {
  display: flex;
  margin: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.correct {
  display: flex;
  font-size: 1.3rem;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  margin-right: 25px;
  text-decoration: none;
}
.delete {
  display: flex;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
.delete:hover {
  color: #000000;
}
.ainput { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  padding: 4px 8px;
  margin: 15px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
  width: 52vw;
}
input[type=checkbox] {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 3rem;
  color: #000000;
  text-align: center;
  width: 20px !important; /*Desired width*/
  height: 28px !important; /*Desired height*/
  cursor: pointer;
  margin: 0;
  margin-top: 3px;
}
.action {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}
.action:hover {
  text-decoration: underline;
}
.action:visited {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
/*Nav*/
body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
.navimg {
  height: 1.7rem;
  margin: 0 0.4rem 0 0;
}
.navContainer > nav > ul {
  list-style-type: none;
}
.navbg {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: #288a2b;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.navContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.navHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navLogo {
  color: #c7e3c8;
  text-decoration: none;
}
.navLogo:hover {
  color: #43a047;
}
.navul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}
.navul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navLink {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #c7e3c8;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.navLink:hover {
  background-color: #43a047;
}
.navLink:focus {
  background-color: #43a047;
}
@media screen and (min-width: 701px) {  
  .navLink {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 1040px) {
  .navLogo {
    margin-left: 1rem;
  }
}

/* MOBILE MENU */
@media screen and (max-width: 700px) {
  .navLink {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }
}