/*Create PPT*/
body {
  background-color: #ffffff;
  overflow-x: hidden;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  flex-basis: 70vmin;
  margin-top: 10vmin;
  margin-bottom: -10vmin;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 70vmin;
  margin: 10vmin;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
  line-height: 1.4rem;
}
.header {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #288a2b;
}
.pptcontainer {
  margin: 10vmin 20vmin;
}
.container {
  margin: 20vmin;
}
.indent {
  padding-left: 10px;
  margin-left: 10px;
}
.ppt {
  display: flex;
  flex-basis: 150px;
  height: 13vmin;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
/*  flex-flow: row wrap;*/
  justify-content: center;
  align-items: center;
  overflow: auto
}
.ppt:hover {
  background-color: #43a047;
}
.ppt:focus {
  border: 2px solid black;
}
.option {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}
@media screen and (max-width: 700px) {
  .option {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    flex-flow: none;
    justify-content: center;
    align-items: center;
  }
  .option2 {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    flex-flow: none;
    text-decoration: none;
  }
}
.option2 {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.presentation {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.input { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  width: 65vw;
  padding: 4px 8px;
  margin-top: 40px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
}
.qinput { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  padding: 4px 8px;
  margin-top: 23px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
  width: 65vw;
}
@media screen and (max-width: 700px) {
  .input {
    width: 30vmin;
  }
}
@media screen and (max-width: 700px) {
  .qInput {
    width: 30vmin;
  }
}
.button {
    display: flex;
    background-color: #288a2b;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 23px 23px 23px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
}
.button:hover {
    background-color: #43a047;
}
.submitFlex{
  display: flex;
  width: 75vw;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.addQuestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 82.5vw;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.question {
  display: flex;
  width: 78vw;
  justify-content: center;
  background-color: #c7e3c8;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 2px 9px 30px 9px;
  border-radius: 5px;
  flex-flow: row wrap;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
    -webkit-transition: 200ms;
  transition: 200ms;
}
.presentationText {
  display: flex;
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.pptbutton {
    display: flex;
    background-color: #288a2b;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 15px 0px 15px 352px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
}
.pptbutton:hover {
    background-color: #43a047;
}
.answer {
  display: flex;
  width: 78vw;
  justify-content: center;
  background-color: #c7e3c8;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px 0 10px;
  text-decoration: none;
  margin: 2px 9px 2px 9px;
  border-radius: 5px;
  flex-flow: row wrap;
}
.viewQuestion {
  display: flex;
  height: 10vh;
  width: 75vw;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 2vmin 5vmin 2vmin 6vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.viewAnswer {
  display: flex;
  height: 10vh;
  width: 66vw;
  background-color: #288a2b;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 2vmin 15vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
}
.viewAnswers {
  display: flex;
  height: 10vh;
  width: 74.7vw;
  background-color: #ffffff;
  margin: -3vmin 5vmin 2vmin 6vmin;
  border-radius: 5px;
  border: 2px solid #288a2b;
  text-decoration: none;
  justify-content: center;
  align-items: center;
    -webkit-transition: 200ms;
  transition: 200ms;
  overflow: auto;
}
.answerText {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.title {
  display: flex;
  margin: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  margin-top: -10px;
}
.actions {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  margin: 1rem 1rem 1rem 1.5rem;
}
.questionText {
  display: flex;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.submitFlexPpt{
  display: flex;
  width: 75vw;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  margin-left: 95px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*View PPT*/
.viewContainer {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  flex-flow: row wrap;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.create{
  display: flex;
  width: 83vw;
  margin-right: 20vmin;
  justify-content: flex-end;
}
.createText {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.addNew {
  display: flex;
  background-color: #2f4961;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin-right: 10vmin;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.addNew:hover {
  background-color: #3E607F;
}
.viewPpt {
  display: flex;
  width: 75vw;
  background-color: #2f4961;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  margin: 3vmin 10vmin 3vmin 10vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.viewPpt:hover {
  background-color: #3E607F;
}
.title {
  display: flex;
  margin: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.newEntry {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.correct {
  display: flex;
  font-size: 1.3rem;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  margin-right: 25px;
  text-decoration: none;
}
.correct:hover {
  text-decoration: none;
}
.delete {
  display: flex;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
.delete:hover {
  color: #000000;
}
.ainput { 
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;  
  padding: 4px 8px;
  margin: 15px;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  text-align: center;
  width: 52vw;
}
input[type=checkbox] {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 3rem;
  color: #000000;
  text-align: center;
  width: 20px !important; /*Desired width*/
  height: 28px !important; /*Desired height*/
  cursor: pointer;
  margin: 0;
  margin-top: 3px;
}
.action {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}
.action:hover {
  text-decoration: underline;
}
.action:visited {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
}
/*Nav*/
body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
.navimg {
  height: 1.7rem;
  margin: 0 0.4rem 0 0;
}
.navContainer > nav > ul {
  list-style-type: none;
}
.navbg {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: #288a2b;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.navContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.navHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navLogo {
  color: #c7e3c8;
  text-decoration: none;
}
.navLogo:hover {
  color: #43a047;
}
.navul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}
.navul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navLink {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #c7e3c8;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.navLink:hover {
  background-color: #43a047;
}
.navLink:focus {
  background-color: #43a047;
}
@media screen and (min-width: 701px) {  
  .navLink {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 1040px) {
  .navLogo {
    margin-left: 1rem;
  }
}

/* MOBILE MENU */
@media screen and (max-width: 700px) {
  .navLink {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }
}
.graph .labels.x-labels {
  text-anchor: middle;
  color: #5c5c5c;
}
.graph .labels.y-labels {
  text-anchor: end;
  color: #5c5c5c;
}
.graph {
  height: 500px;
  width: 1000px;
}
.graph .grid {
  stroke: #a9a9a9;
  stroke-dasharray: 0;
  stroke-width: 1;
}
.labels {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.label-title {
  font-weight: bold;
  font-size: 16px;
  fill: #5c5c5c;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.label-title-x {
  font-weight: bold;
  font-size: 16px;
  fill: #5c5c5c;
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.data {
  fill: #288a2b;
  stroke-width: 1; 
  font-family: Arial, Helvetica, sans-serif;
}
.data2 {
  fill: #2f4961;
  stroke-width: 1; 
  font-family: Arial, Helvetica, sans-serif;
}
.x-labels {
  fill: #5c5c5c;
  color: #5c5c5c;
}
.y-labels {
  fill: #5c5c5c;
  color: #5c5c5c;
}
.x-axis {
  fill: #5c5c5c;
  color: #5c5c5c;
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
  /*transform: rotate(90deg);*/
  /*-webkit-transform: rotate(90deg);*/
}
.zoom {
  /*margin-top: 1vmin;*/
  margin-left: 30vmin;
  zoom: 110%;
}
.presentationTitle {
  margin-top: 3vmin;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}
.loading {
  position: absolute;
  left: 50vw;
  top: 50vh;
}
.loadingText {
  margin-top: 3vmin;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #288a2b;
}
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   height: 29px;
   overflow: hidden;
   width: 240px;
   font-size: 0.9rem;
   font-family: Arial, Helvetica, sans-serif;
   color: #5c5c5c;
   margin-top: 3vmin;
   margin-bottom: 3vmin;
}
.styled-select select {
   font-size: 0.9rem;
   font-family: Arial, Helvetica, sans-serif;
   color: #5c5c5c;
   background: transparent;
   border: none;
   height: 29px;
   padding-left: 10px; 
   width: 268px;
}
table {
   font-size: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   color: #5c5c5c;
}
thead {
  text-align: left;
  height: 1.2rem;
}
td {
  width: 150px;
  height: 1.2rem;
}
th {
  border-bottom: 2px solid #a9a9a9;
}
table, tbody, tr, td {
  border: none !important;
  margin: 0px;
  padding: 6px;
  border-collapse: collapse;
}
.twidth {
  width: 125px;
}
.tcenter {
  text-align: center;
}
.shadow:nth-child(2n) {
  background-color: #ffffff;
}
.shadow:nth-child(2n+1) {
  background-color: #e9e9e9
}
.shadow:hover {
  background-color: #a9a9a9;
}
.statsView{
    display: flex;
    background-color: #ffffff;
    border: 2px solid #288a2b;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #288a2b;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 23px 23px 23px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
}
.selectDate {
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
  margin: 3vh 0 3vh 1vh;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 18vw;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #288A2B;
  border-radius: 1.3px;
  border: 0.2px solid #5c5c5c;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #5c5c5c;
  height: 25px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #288A2B;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #288A2B;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #5c5c5c
  height: 25px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #288A2B;
  border: 0.2px solid #5c5c5c;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #288A2B;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #5c5c5c;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #288A2B;
}
input[type=range]:focus::-ms-fill-upper {
  background: #288A2B;
}
.pieChart {
  margin-left: 5vw;
  margin-top: 4vh;
  width: 230px; 
  height: 230px; 
  border: 2px solid #5c5c5c; 
  border-radius: 100%; 
  background-color: #5c5c5c;
}
.legend-item {
  stroke-width: 1; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}